<p>
<!--For stock chart parameters, see-->
<!--https://code.google.com/p/yahoo-finance-managed/wiki/miscapiImageDownload--> 
<img src="http://chart.finance.yahoo.com/z?s=<%= @symbol %>&t=my&q=l&l=off&z=l&p=v"/>

<p>
<b>Success! </b>
Translated <%= @symbol %> stock quotes into musical notes.
<p>
<audio id="audioplayer" preload="metadata" controls autoplay style="width:100%;" >
<source src="<%= @mp3file %>" type="audio/mp3">
<source src="<%= @wavfile %>" type="audio/wav">
Your browser doesn't support the HTML audio tag.
</audio>

<p>
Click to download:
<ul>
<li>
<A HREF="<%= @mp3file %>">MP3 file</A>
<li>
<A HREF="<%= @wavfile %>">WAV file</A>
<li>
<A HREF="<%= @midifile %>">MIDI file</A>
</ul>
