<p>
<!--For stock chart parameters, see-->
<!--https://code.google.com/p/yahoo-finance-managed/wiki/miscapiImageDownload--> 
<img src="http://chart.finance.yahoo.com/z?s=<%= @symbol %>&t=my&q=l&l=off&z=l&p=v"/>

<p>
<b>Success! </b>
Translated <%= @symbol %> stock quotes into musical notes.
<p>
<object width="300" height="42">
<param name="src" value="<%= @mp3file %>">
<param name="autoplay" value=“true”>
<param name="controller" value="true">
<param name="bgcolor" value="#FFFFFF">
<embed src="<%= @mp3file %>" autostart=“true” loop="false" width="300" height="42" controller="true" bgcolor="#FFFFFF">
</object>
Click to download:
<ul>
<li>
<A HREF="<%= @mp3file %>">MP3 file</A>
<li>
<A HREF="<%= @wavfile %>">WAV file</A>
<li>
<A HREF="<%= @midifile %>">MIDI file</A>
</ul>
