<p>

<!--OBSOLETE Yahoo stock graph image-->
<!--For stock chart parameters, see-->
<!--https://code.google.com/p/yahoo-finance-managed/wiki/miscapiImageDownload--> 
<!--img src="http://chart.finance.yahoo.com/z?s=<%= @symbol %>&t=my&q=l&l=off&z=l&p=v"/>

<!-- TradingView Widget BEGIN -->
<div id="tv-medium-widget-2bbac"></div>
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
new TradingView.MediumWidget({
  "container_id": "tv-medium-widget-2bbac",
  "symbols": [
    [
      "<%= @symbol %>",
      "<%= @symbol %>"
    ],
  ],
  "gridLineColor": "#e9e9ea",
  "fontColor": "#83888D",
  "underLineColor": "#dbeffb",
  "trendLineColor": "#4bafe9",
  "width": "800px",
  "height": "400px",
  "locale": "en"
});
</script>
<!-- TradingView Widget END -->

<%
# determines path (if any) within public folder
if ENV.has_key?('Q2N_DIR')
    @publicsubpath = ENV['Q2N_DIR']+"/"
    @publicsubpath.slice!("./public/")
    else
    @publicsubpath  = ""
end
%>
<p>
<b>Success! </b>
Translated <%= @symbol %> stock quotes into musical notes.
<p>
<audio id="audioplayer" preload="metadata" controls autoplay style="width:100%;" >
<source src="<%= @publicsubpath %><%= @mp3file %>" type="audio/mp3">
<source src="<%= @publicsubpath %><%= @wavfile %>" type="audio/wav">
Your browser doesn't support the HTML audio tag.
</audio>

<p>
Click to download:
<ul>
<li>
<A HREF="<%= @publicsubpath %><%= @mp3file %>">MP3 file</A>
<li>
<A HREF="<%= @publicsubpath %><%= @wavfile %>">WAV file</A>
<li>
<A HREF="<%= @publicsubpath %><%= @midifile %>">MIDI file</A>
</ul>
